@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: #dbe5f1;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: hsl(0, 0%, 100%);
    width: 20vw;
    height: 59vh;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 20px;
}

.container img {
    width: 17vw;
    border-radius: 15px;

}


.container h1 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
.container p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin-bottom: 10px;
}
